
/*Colors */
.gritter-item-wrapper.primary {
    background: #2494f2;
}
.gritter-item-wrapper.success {
    background: #60c060;
}
.gritter-item-wrapper.info {
    background: #5bc0de;
}
.gritter-item-wrapper.warning {
    background: #ff9900;
}
.gritter-item-wrapper.danger {
    background: #df4b33;
}
.gritter-item-wrapper.dark {
    background: #23262b;
}

.item-name {
    font-size: 12px;
}

.item-value {
    font-weight: 700;
}

.item-time {
    font-size: 11px;
}